.MainPage {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #a48da6;
  text-align: center;
}

.Home {
  color: #512260;
  font-family: 'Frunchy sage';
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  align-items: center;
  background-color: #a48da6;
}

.MainPage-Header {
  background-color: #a48da6;
  min-height: 20vh;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

nav {
  display: flex;
  justify-content: left;
  background-color: #a48da6;
  padding: 15px 0;
  box-shadow: 0 4px 6px #401e5d45;
}

nav a {
  color: #512260;
  font-family: Frunchy sage;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  transition: background-color 0.3s ease,color 0.3s ease;
}

nav a:hover {
  background-color: #512260; 
  color: #f6f7ec; 
  border-radius: 5px;
}

.Img {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 200x;
}

.Img .App-logo1{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
  width: 150px;
}

.Img .App-logo2{
  display: flex;
  align-items: center;
  justify-content: right;
  flex-grow: 1;
  margin-left: 20px; 
  width: 150px;
}

body {
  background-color: #a48da6;
}

.About {
  color: #512260;
  font-family: 'Frunchy sage';
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.ButtonContainer {
  width: 150px;
  height: 100px;
  margin: 20px auto; 
}

.ButtonContainer .ActionButton {
  width: 150px; 
  height: 100px;
  transition: transform 0.2s; 
}


.ButtonContainer .ActionButton:hover {
  transform: scale(1.05);
}

.ftrdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a48da6;
  padding: 25px 10px;
  box-shadow: 12px 12px 12px 12px #401e5d45;
}

.ftr {
  color: #512260;
  font-family: Frunchy sage;
}